
.container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.input {
  padding: 0.5rem;
  width: 60%;
  margin: auto;
  border: 2px solid rgb(96, 169, 194);
  border-radius: 8px;
}

.reminder {
  padding: 2rem;
  font-size: large;
}