
.title {
  font-size: 3rem;
}


.container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.input {
  padding: 0.5rem;
  width: 60%;
  margin: auto;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input:focus {
  outline: 3px solid lightblue
}

.reminder {
  padding: 2rem;
  font-size: 1.5rem;
}

.weather-data {
  margin: 4rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  gap: 2rem;
  border: black 3px solid;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.city {
  opacity: .5;
}

.temp {
  font-size: 4rem;
}

.weather {
  opacity: .5;
}

.error {
  font-size: 2rem;
}