* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: 'montseratt',sans-serif;
}


.app{
  background-image: url('./img/day.webp');
  background-size: cover;
  background-position: bottom;
  transition: 1s ease-out;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.app.night {
  background-image: url('./img/night.webp');
}

main {
  min-height: 70vh;
  min-width: 30vw;;
  max-width: 45vw;
  background-size: cover;
  background-position: bottom;
  transition: 1s ease-out;
  padding: 25px;
  border-radius: 10px;
  box-shadow:  5px 5px rgba(0, 0, 0, 0.2);
}

.default {
  background-image: url('./img/default.webp')
}

.Clouds {
  background-image: url('./img/cloudy.jpeg');
}

.Clear {
  background-image: url('./img/sunny.webp');
}

.Rain {
  background-image: url('./img/rainning.jpeg');
}

.Smoke,
.Haze,
.Mist,
.Fog {
  background-image: url('./img/smoke.jpeg');
}

.Drizzle {
  background-image: url('./img/drizzle.jpeg')
}

.Snow
{
  background-image: url('./img/snow.jpeg');
}

.search-box {
  width: 100%;
  margin:0 0 75px
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 0.5rem;

  appearance: none;
  background: none;
  border:none;
  outline:none;

  background-color: rgba(255,255,255, .75) ;
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 2rem;
  
}

.search-bar:focus {
  background-color:rgba(255,255,255);
}

.welcome-message,
.error {
  padding: 1.5rem;
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.weather-data {
  color: black;
  margin-top: -1.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;
  gap: 3rem;
}

.city,
.time,
.weather {
  opacity: .6;
}



.temp {
  font-size: 5rem;
}
