* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: 'montseratt',sans-serif;
}



.app{
  background-image: url('./img/day.webp');
  background-size: cover;
  background-position: bottom;
  transition: 0.5s ease-out;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.app.night {
  background-image: url('./img/night.webp');
}

main {
  min-height: 60vh;
  width: 50vw;
  background-image: url('./img/cloudy.webp');
  background-size: cover;
  background-position: bottom;
  transition: 1s ease-out;
  padding: 25px;
  border-radius: 10px;
  box-shadow: grey;
}


.search-box {
  width: 100%;
  margin:0 0 75px
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 0.5rem;

  appearance: none;
  background: none;
  border:none;
  outline:none;

  background-color: rgba(255,255,255, .75) ;
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 2rem;
  
}

.search-bar:focus {
  background-color:rgba(255,255,255);
}

.welcome-message {
  padding: 2rem;
  font-size: 1.5rem;
  color: white;
}

.weather-data {
  color: white;
  margin: 4rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  gap: 2rem;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.city {
  opacity: .8;
}

.temp {
  font-size: 4rem;
}

.weather {
  opacity: .8;
}

.error {
  font-size: 2rem;
}